In [2]:
import pandas as pd 
pd.read_json('flipData.json')

                                                             page 1
Item Discount     [43% off, 42% off, 13% off, 47% off, 47% off, ...
Item MRP          [₹1,599, ₹3,999, ₹2,199, ₹2,199, ₹2,199, ₹2,69...
Item Price        [₹899, ₹2,299, ₹1,899, ₹1,149, ₹1,149, ₹1,599,...
Item Rating       [4.1, 4.2, , , , , , 4.2, , , , , , , , , , , ...
No. People rated  [(64,460), (2,935), , , , , , (30,015), , , , ...
item Name         [Ambrane 10000 mAh Power Bank (20 W, Quick Cha...

In [6]:
dictonary={}
dictonary['itNAme','itemm']=12,12
dictonary

{('itNAme', 'itemm'): (12, 12)}